pdfminer3
pyresparser
streamlit
pandas
pafy
plotly
pymysql
streamlit-tags
Pillow
youtube-dl
nltk
pdfminer3
spacy
thinc
en_core_web_sm
matplotlib==3.5.3
numpy==1.23.1
pandas==1.4.3
plotly==5.22.0
scipy==1.9.0
streamlit==1.38.0
